[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/arizonaCameraLab/glm.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
